Package: ni-system-monitor-veristand-{veristand_version}-support
Version: {major_minor_update_version}
Architecture: windows_x64
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description: Provides support for the system monitor custom device for NI VeriStand {veristand_version}.
XB-Eula: eula-ni-standard
Priority: standard
Homepage: http://www.ni.com
XB-LanguageSupport: en
XB-UserVisible: yes
Section: Add-Ons
XB-DisplayVersion: {quarterly_display_version}
XB-DisplayName: NI System Monitor for VeriStand {veristand_version}
Depends: ni-veristand-{labview_version} (>= {labview_short_version}.0.0), ni-major (>= {major_version}), ni-major-minor (>= {major_minor_version}), ni-major-minor-update (>= {major_minor_update_version}), ni-major-minor-update-build (>= {major_minor_update_build_version}) 
